@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --tree-color: white;
}

ul.tree li {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  opacity: 50%;
}

ul.tree li::before,
ul.tree li::after {
  content: " ";
  display: block;
  border-bottom: 1px solid var(--tree-color);
  transition: width 0.3s;
}

ul.tree li::after {
  flex: 1;
}

ul.tree li::before {
  width: 1%;
}

ul.tree li:hover,
ul.tree li.active {
  opacity: 100%;
}

ul.tree li:hover::before,
ul.tree li.active::before {
  width: 5%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
